<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>
	<property name="LOCATION" value="D:/Office/plugin_log" />
	<property name="SP_LOG" value="shurjopay-plugin.log" />
	
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${LOCATION}/${SP_LOG}</file>
		<append>true</append>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <logger name="com.shurjopay.plugin" level="debug" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

	<root level="error">
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>



